services:
  db:
    image: "postgres:17-alpine"
    restart: "always"
    env_file:
      - "./.env"
    ports:
      - 6543:5432
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: "redis:latest"
    container_name: "redis"
    restart: "always"
    ports:
      - 6379:6379
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data

volumes:
  db_data:
  redis_data:
