services:
  db:
    image: "postgres:17-alpine"
    restart: "always"
    env_file:
      - "./.env"
    ports:
      - 6543:5432
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
